@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);


*{margin: 0; padding: 0;}
a{text-decoration: none;}
ol,ul{list-style-type: none;}

body{position: fixed; width: 100%; height: 100%;
}

* { box-sizing: border-box; }
/*배경동영상*******************/
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
.video-foreground { height: 300%; top: -100%; }
} 

@media (max-aspect-ratio: 16/9) {

    .video-foreground { width: 300%; left: -100%; }

    }

/*로고***********************/
h1{position: fixed; top: 20px; left: 0px; z-index: 10;}
h1 img{width: 280px;}
header{width: 700px; 
    height: 100%; 
    position: fixed;
    left:-420px;
    background: linear-gradient(-45deg, white,#88AAC5,#04368B);
    transform: skewX(-40deg);
}
/*1depth*********************/
#gnb{width: 220px; position: absolute;top: 150px;right: 0px;}
#gnb>li{position: relative;}
#gnb>li>a{display: block;width: 220px;height: 50px;
        font:bold 18px/3 play;color:#222;
        box-sizing: border-box; padding-right: 40px;
        text-align: right;
    }
#gnb img{width: 30px; float: left; transform: skewX(40deg);}
#gnb img{position: absolute; left: 0px; top:0px; opacity: 0; transition: 1.0s;}
#gnb>li:hover img{opacity: 0.8;}

#gnb em{display: inline-block; transform: skewX(40deg);}
#gnb em i{margin-right: 20px;}

/*2depth*********************/
#gnb ul{position: absolute; left: 0px; top:0px; opacity: 0; transition: 0.5s;}
#gnb>li:hover ul{opacity: 0.8; left: 200px;}
#gnb ul a{display: block;width: 350px;height: 40px;background-color: #222;
        border-bottom: 1px solid green; font: bold 16px/2.5 arial;        
        color: #fff; padding-left: 50px; margin-bottom: 3px;
        transition: 0.5s;
    }
#gnb ul a:hover{background-color: #b9fb05;}
#gnb ul a{background-color: #444;opacity: 0.7;}

/*sns**********************/
#sns{position: fixed; bottom: 50px; left: 50px;}
#sns li{float: left;margin-right: 30px;}
#sns .fa-brands{color: #b9fb05; opacity: 0.5; transform: scale(1); transition: 1s;}
#sns .fa-brands:hover{opacity: 1; transform: scale(1.4);}

/*텍스트박스***************/
.txtBox { width:340px; height:280px; position:fixed; top:200px; right:70px; }
.txt { position:absolute; top:230px; right:10px; font-size:34px; font-family:play; color:#bbb; letter-spacing:-2px;}
.txt b { font:bold 34px arial; color:#b9fb05; 	margin-left:20px;}
.tit { position:absolute; top:0px; right:0px; font-size:160px; color:#b9fb05; font-family: 'Monoton', cursive; letter-spacing:-1px;}
.tit2 { position:absolute; top:40px; right:10px; font-size:160px; color:#b9fb05; font-family: 'Monoton', cursive; letter-spacing:-1px;}
.tit em { font-size:50px; font-family:play; color:#fff;}
.tit2 em { font-size:50px; font-family:play; color:#fff;}

/*contents 레이아웃***************/
#side{width: 800px; height: 100%; 
    position: fixed; bottom: 0px; right: -800px; background-color: #111;
    opacity: 0.5; transform: skewX(-40deg); transition: 0.5s;}
#side:hover{right: -500px; opacity: 0.8;}
#side .con{width: 400px;height: 100%;
    position: absolute; left: 150px; bottom: 0px; background-color: #000;
    box-sizing: border-box; padding: 10px; transition: 1s;}
#side:hover .con{left: 50px;}

/*contents 내 썸네일*************/
#side .con p{width: 300px; height: 100px;
    position: absolute;left: 50px;}
#side .con p em{display: inline-block; font: bold 16px/1.7 arial;
    color: #a0bd50; transform: skewX(40deg);}
#side .con p img{width: 300px; height: 70px; opacity: 0.3; 
    transition: 0.5s;}
#side .con p img:hover{opacity: 1;}
#side .con p:nth-child(1){bottom: 270px; transform: translateX(200px); transition: 0.4s;}
#side .con p:nth-child(2){bottom: 160px; transform: translateX(200px); transition: 0.8s;}
#side .con p:nth-child(3){bottom: 50px; transform: translateX(200px); transition: 1.2s;}
#side:hover .con p{transform: translateX(0px);}

/*자동롤링*************/
#side .button{width: 250px; height: 50px; 
    position: absolute; bottom: 40px; left: 100px;
    color: #b9fb05; transform:skewX(40deg);}
#side:hover .button{left: 700px;}
.button i:nth-child(2) { animation:ani linear 1.5s 0s infinite;}
.button i:nth-child(3) { animation:ani linear 1.5s 0.5s infinite;}
.button i:nth-child(4) { animation:ani linear 1.5s 1.0s infinite;}

@keyframes ani {
	0% { right:0px; transform:sclae(1); opacity:1;}
	100% { right:100px; transform:scale(1.5); opacity:0;}
}