*{margin: 0;padding: 0;}
ul{list-style: none;}

.navbar a{color:gray !important;}
.navbar a:hover{color:#002C5F !important;}
.bg-dark{background-color: white !important;}

article{width:33.3333%;height:425px;text-align: center;}
article h1{line-height: 425px;color:#002C5F;font-weight: bold;}
article h1:hover{color:white;background-color: #002C5F;}


/* mobile ***************************************/
@media screen and (max-width:767px) {
   
    #demo{display: none;}
    #demo2{height: 700px !important;}
    #demo2 .carousel-inner{height: 700px !important;}

    .caption{
        position: absolute !important;
        left:10px !important;
        bottom:180px !important;
        z-index: 10000 !important;
        color:white !important;
    }
    
    article{width:100%;height: 425px;}
    article:nth-of-type(1){background-color: red;}
    article:nth-of-type(2){background-color: green;}
    article:nth-of-type(3){background-color: blue;}
    article:nth-of-type(4){background-color: white;}
    article:nth-of-type(5){background-color: #20cb0d;}
    article:nth-of-type(6){background-color: rgb(168, 172, 191);}
    article:nth-of-type(7){background-color: white;}
    article:nth-of-type(8){background-color: rgb(249, 187, 250);}
    article:nth-of-type(9){background-color: rgb(87, 85, 86);}
    article:nth-of-type(10){background-color: white;}
    article:nth-of-type(11){background-color: rgb(163, 247, 185);}
    
    article:nth-of-type(5)>img:nth-of-type(1){display: none;}
    article:nth-of-type(5)>img:nth-of-type(2){display: block;}
    
    #footer-mobile{display: block;}
    #footer-pc{display: none;}
    
    #footer-mobile{background: black;border:none;border-radius: 0px;}
    #footer-mobile .card{background: black;border:none;border-radius: 0px;}
    #footer-mobile .card-header h4{color: white;}
    #footer-mobile .card-body{color:#bbb;}

    #copyright-mobile{padding-bottom: 50px;color:white;text-align: center;}
    
}



/* pc ********************************************/
@media screen and (min-width:768px) {
    #collapsibleNavbar{position: absolute;right:20px;}

    #demo{display: block;}
    #demo2{display: none;}

    .caption{
        position: absolute !important;
        left:10px !important;
        bottom:20px !important;
        z-index: 10000 !important;
        color:white !important;
    }

    article{float: left;}

    article:nth-of-type(1){width:66.6666%;background-color: red;}
    article:nth-of-type(2){float:right;height:850px;background-color: green;}
    article:nth-of-type(3){background-color: blue;}
    article:nth-of-type(4){background-color: white;}
    article:nth-of-type(5){height:850px;background-color: #20cb0d;}
    article:nth-of-type(6){background-color: rgb(168, 172, 191);}
    article:nth-of-type(7){background-color: white;}
    article:nth-of-type(8){width:66.6666%;background-color: rgb(249, 187, 250);}
    article:nth-of-type(9){background-color: rgb(87, 85, 86);}
    article:nth-of-type(10){background-color: white;}
    article:nth-of-type(11){background-color: rgb(163, 247, 185);}    

    article:nth-of-type(5)>img:nth-of-type(1){display: block;}
    article:nth-of-type(5)>img:nth-of-type(2){display: none;}

    #footer-pc{background-color: black; color:white;}
    #footer-pc h4{padding-bottom: 50px;}
    #footer-pc li{padding-bottom: 15px;}
    #copyright{padding-bottom: 50px;}
  
    #footer-mobile{display: none;}
    #footer-pc{display: block;}
}
